* { /*( * ) Usado para informar que existem itens que irão recair sobre todo o HTML **/

    margin: 0; /*Zerando a margin(top, bottom, right, left*/
    padding: 0; /*Zerando o preenchimento*/
    font-family: Arial, Helvetica, sans-serif; /*Habilitando uma fonte padrão para toda a página*/
    list-style: none; /*Removendo os estilos de listas*/
}

   /*Chamamos nosso cabeçalho para estilização (Header)*/
header {
    background-color: #bf9692; /*Habilitando uma cor de fundo*/
    padding: 15px; /*Colocando um tamanho (Preenchimento) no Header*/
    display: flex; /*Tornando nosso Header Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly; /*Justificativa do conteúdo - Aqui podemos ajustar conforme nossa necessidade*/
    align-items: center; /*Alinhamento na vertical - Deixando habilitada ao centro*/
}
  
/*Chamamos nossa logo(img) para estilização*/
header img {

    width: 80px; /*Largura da imagem*/
    height: auto; /*Altura da imagem*/
}

/*Chamamos nossa lista não ordenada para estilização*/
header nav ul {
    display: flex; /*Tornamos nossa lista não ordenada em (Flex), deixando os itens pertencentes a ela, lado a lado.*/
}

/*Chamamos nossa lista (Li) para estilização*/
header nav ul li {
    list-style: none; /*Estilo de lista desabilitado*/
    margin-right: 10px; /*espaçamento entre as (Li)*/
}

 /*Chamamos nossa âncora (a) para estilização*/
header nav ul li a {
    text-decoration: none; /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: whitesmoke; /*Cor da Letra*/
}

/* Chamamos a primeira sessão para estilização.*/
.sessão-1 {
    background-image: url(imagem/ai-generated-8770645_1280.png); /*Usada para habilitar uma imagem de fundo*/
    padding: 300px; /*Tamanho da sessão*/
    background-repeat: no-repeat; /*Usada para não repetir a imagem na sessão.*/
    background-size: cover; /*Utilizada para que a imagem preencha todo espaço disponivel*/
    background-position: center; /*Deixar a imagem centralizada.*/
    display: flex; /*Usada para deixar a sessão flex*/
    justify-content: center; /*Justificando o conteúdo ao centro*/
    align-items: center; /*Alinhando os itens ao centro*/
}

/*Chamamos o Botão da sessão 1 para a estilização.*/
.sessão-1 button {
    width: 150px; /*Largura do botão*/
    height: 40px; /*Altura do botão*/
    background-color: rgba(255, 255, 255, 0.623); /*Cor de fundo*/
    border-radius: 7px; /*Arredondamento da borda*/
}

/*Chamamos a Segunda sessão para a estilização.*/
.sessão-2 {
    padding: 300px; /*Tamanho da sessão*/
    background-color: #aabfaa; /*Cor de fundo*/
    display: flex; /*Usada para deixar a sessão flex*/
    justify-content: space-evenly; 
    align-items: center; /*Alinhando os itens ao centro*/
}

/*Chamamos para a imagem da sessão 2 para estilização.*/
.sessão-2 img {
    width: 250px; /*Largura da imagem*/
    height: auto; /**/
}

/*Chamamos o Subtítulo da sessão 2 para estilização.*/
.sessão-2 h2 {
    color: black; /*Cor da letra*/
    font-size: 30px; /*Tamanho da letra*/
    font-weight: bold; /*usada para deixar a letra mais clara ou escura*/
    margin-top: 15px; /*espaçamento acima do Subtítulo*/
}
/*Chamamos o parágrafo da sessão 3 para estilização*/
.sessão-2 p {
    color: black; /*Cor da letra*/
    font-size: 18px; /*Tamanho da letra*/
    margin-top: 15px; /*espaçamento acima do parágrafo*/
}
/*Chamamos a terceira sessão para a estilização*/
.sessão-3 {
    background-image: url(imagem/ai-generated-8541996_1280.jpg); /*Usada para habilitar uma imagem de fundo*/
    background-attachment: fixed; /*Deixar a imagem de fundo fixada*/
    padding: 300px; /*Tamanho da sessão*/
    background-repeat: no-repeat; /*Usada para não repetir a imagem na sessão.*/
    background-size: cover; /*Utilizada para que a imagem preencha todo espaço disponivel*/
    justify-content: center; /*Justificando o conteúdo ao centro*/
    align-items: center; /*Alinhando os itens ao centro*/
    background-position: center; /*Deixar a imagem centralizada.*/


    
}

/*Chamamos o Subtítulo da sessão 3 para estilização*/
.sessão-3 h2 {
    color: whitesmoke; /*Cor da letra*/
    font-size: 35px; /*tamanho da letra*/
    font-weight: 900; /*usada para deixar a letra mais clara ou escura*/
    margin-top: 15px; /*espaçamento acima do subtítulo*/

}
/*Chamamos o parágrafo da sessão 3 para estilização*/
.sessão-3 p {
    color: whitesmoke; /*Cor da letra*/
    font-size: 17px; /*tamanho da letra*/
    font-weight: 600; /*usada para deixar a letra mais clara ou escura*/
    margin-top: 15px; /*espaçamento acima do parágrafo*/
}

 /* Chamamos o footer para estilizar o rodapé da página. */
footer {
    padding: 15px; /*Colocando um tamanho (Preenchimento) no rodapé*/
    background-color: #d3ebc7; /*Cor de fundo*/
    display: flex; /*Tornando nosso Footer Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly; /*Justificativa do conteúdo*/
    align-items: center; /*Alinhando os itens ao centro*/
}

/*Chamamos nossa lista não ordenada para estilização*/
footer nav ul {
   display: flex; /*Tornamos nossa lista não ordenada em (Flex), deixando os itens pertencentes a ela, lado a lado.*/

}
/*Chamamos nossa lista (Li) para estilização*/
footer nav ul li {
    list-style: none; /*Estilo de lista desabilitado*/
    margin-right: 15px; /*espaçamento entre as (Li)*/

}
/*Chamamos nossa âncora (a) para estilização*/
footer nav ul li a {
    text-decoration: none; /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: black; /*Cor da letra*/
    font-weight: 300; 
    font-family: Arial, Helvetica, sans-serif; /*Fonte da letra*/
}
